<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>xEncode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>xFormat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xRadix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>xTextHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87043DE81D2A39D600325485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870BF0861D29E04600214968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8730C1261D29E0E2002E5B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8749ECB71D2A55FD00099B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876345ED1D2A48A7005E24D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87E376B01D2A59E200A40FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
